%p.bio= "<strong>#{CONFIG['blog']['author']}</strong> writes here about technology, programming, and anything else that catches his fancy. You can get in touch by sending an email to <strong>#{CONFIG['blog']['email_in_words']}</strong>."
  
%p.blog
  This site runs on <a href='http://sinatra.github.com/'>Sinatra</a>,
  <a href='http://haml.hamptoncatlin.com/'>Haml</a>,
  <a href='http://haml.hamptoncatlin.com/docs/sass'>Sass</a>,
  and plain ol' text-file articles using a sweet little blog engine called Marley. Like it?
  <a href='http://github.com/roblingle/marley'>Fork it.</a>
  